doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Closed Page
        link(rel="stylesheet", href="stylesheets/style.css")
    body 
        .closed 
            .overlay
                .content 
                    h1.title OOpss !!!!
                    h2 This web application is available : 
                        h3 
                            | From 
                            span Monday 
                            | To 
                            span Friday 
                        h3 
                            | From 
                            span 09:00 
                            | To 
                            span 17:00                      
                    p Thanks for understanding !!! See you soon !!!    