extends layout

block content
  div(class="home")
    div(class="overlay")
      div(class="home-content")
        h1(class="title") we are creative agency
        p(class="home-description") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto eveniet dolore velit quod porro, et impedit, omnis, magnam dolores alias iure! Omnis voluptates asperiores accusamus consectetur debitis veniam placeat deleniti!
