extends layout

block content
    section.we-offer-area.text-center.bg-gray.pd-y
        div.container
            div.row
                div.col-md-12
                    div.site-heading.text-center
                        h2 What we 
                            span Offer 
                        h4 Lorem Ipsum is simply dummy text

            div.row.our-offer-items.less-carousel
                //Single Item
                div.col-md-4.col-sm-6.equal-height
                    div.item
                        i.fas.fa-pen-fancy
                        h4 Project creation
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 

                //Single Item
                div.col-md-4.col-sm-6.equal-height
                    div.item
                        i.fas.fa-dharmachakra
                        h4 Software Development
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 

                //Single Item
                div.col-md-4.col-sm-6.equal-height
                    div.item
                        i.fas.fa-tasks
                        h4 Project Management
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 

                //Single Item
                div.col-md-4.col-sm-6.equal-height
                    div.item
                        i.fas.fa-tachometer-alt
                        h4 Project Impliment
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 

                //Single Item
                div.col-md-4.col-sm-6.equal-height
                    div.item
                        i.fas.fa-recycle
                        h4 Software Update
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 

                //Single Item
                div.col-md-4.col-sm-6.equal-height
                    div.item
                        i.fas.fa-headset
                        h4 24/7 Support
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
